header {
    padding: 16px 32px;
}

a{
    text-decoration: none;
    color: #000;
}

#nav > ul {
    display: flex;
    margin-left: 8px;
}

#nav > ul > li {
    flex-direction: row;
    padding: 12px;
    font-size: 28px;
    text-align: center;
}

#nav > ul > li > a {
    padding: 8px;
}

#nav > ul > li > a:hover {
    background-color: #e5b3fe;
    border-radius: 8px;
}

/* #content{
    height: 722px ;
    width: 100%;
} */

#content > img {
    width: 100%;
    object-fit:cover;
}

#member{
    width: 100%;
    height: auto;
   margin-bottom: 40px;
}

#member > h1 {
    font-size:32px;
    text-align: center;
    padding: 32px;
    margin: 16px 0px;
    font-weight: bold;
    color: #457b9d;
}


.list-member{

    display: flex;
}

.one-member{
    flex-direction: row;
    width: 25%; 
}

.img-member{
    width: 40%;
    margin: auto;
    border-radius: 50%;
}

.link-member{
    display: flex;
    flex-direction: column;
}

.link-member>b {
    font-size: 32px;
    display: block;
    text-align: center;
    padding: 8px 16px;
}

.link-member>i{
    text-align:center;
    margin: 16px 8px 8px 8px ;
    opacity: 0.8;
}



